:host {
    --primary-color: #605DC8;
    --secondary-color: #8B89E6;
    --accent-color: #e8e7fa;
    --shadow-color: #E8E8E8;
}

.main {
    padding: 56px 32px;

    display: flex;
    flex-direction: column;
    gap: 16px;

    &__title {
        font-size: 32px;
        color: palevioletred;
    }
}